.carousel {
  position: relative;
  width: 394px;
  height: 231px;
  overflow: hidden;
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 394px;
  height: 231px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides img {
  position: absolute;
  top: 0;
  left: 0;
  width: 394px;
  height: 231px;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.slides img.active {
  opacity: 1;
}

.indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicators div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e2bcb0;
  margin: 0 5px;
}

.slide {
  position: relative;
  width: 394px;
  height: 231px;
}

.text {
  position: absolute;
  width: 392px;
  height: 230px;
  left: 2px;
  top: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Fira Sans Extra Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: -0.165px;
  padding: 20px;
}
