@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@700&family=Roboto:ital,wght@1,700&display=swap');

* {
  transition: all 0.3 ease;

}

.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  padding: 0.5rem 0rem;
  background-color: #E2BCB0;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  z-index: 1001;
}

.brand-name {
  text-decoration: none;
  color: rgb(167, 33, 33);
  font-size: 1.3rem;
  margin-left: 1rem;
}

.navigation-menu {
  width: 198px;
  height: 100vh;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.navigation-menu li {
  /* // removes default disc bullet for li tags and applies margin to left & right side */
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  /* // increases the surface area of the anchor tag to span more than just the anchor text */
  text-decoration: none;
  display: block;
  width: 100%;
}


.hamburger {
  /* // removes default border on button element */
  border: 0;
  height: 20px;
  width: 29px;
  padding: 0.5rem;
  border-radius: 0%;
  /* background-color: #A45D5D; */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  /* // positions the icon to the right and center aligns it vertically */
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburger:hover {
    /* background-color: #A45D5D; */

  }

  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    display: block;
  }

  .navigation-menu {
    /* // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar) */
    position: absolute;
    top: 76px;
    left: 100%;
    /* transform: translateX(0%); */
    /* // stacks the li tags vertically  */
    flex-direction: column;
    /* // makes menu span full height and width */
    width: 198px;
    height: calc(100vh -100px);
    background-color: #A45D5D;
    /* border-top: 1px solid; */
    /* display: none; */
    transition: all .5s ease;
  }

  .navigation-menu li {
    /* // centers link text and strips off margin */
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    color: #FFFAF0;
    /* // increases the surface area of the anchor tag to span the full width of the menu */
    width: 100%;
    padding: 1rem 0;
  }

  .navigation-menu li:hover {
    background-color: #351212;
  }

  .navigation-menu.expanded {
    display: block;
    top: 100%;
    transform: translateX(-100%);
    transition: all .5s ease;

  }
}

li {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.toggle-container {
  position: relative;
  width: 64px;
  height: 30px;
  left: 64px;
  top: 30px;
  flex-grow: 0;
  padding: 2px 2px 2px 7px;
  border-radius: 36.5px;
  background: linear-gradient(to right, #ffb800 -3%, #ff00b8 100%);
  transition: background ease-out 300ms;
  align-items: center;
}

.body .toggle-container {
  background: linear-gradient(90deg, #20045B -3.13%, #7A3DFA 103.13%);
}


.knob {
  position: relative;
  align-items: center;
  left: 36px;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.03), 0 1px 1px 0 rgba(0, 0, 0, 0.01), 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: left ease-out 300ms;
}

.dark .knob {
  left: 2px;
}

.moon {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 7.5px;
  left: 10px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.165px;
  z-index: 1;
}

.moon-path {
  fill: #FFC634;
  transition: fill ease-out 3000ms;
}

.dark .moon-path {
  fill: url("#dark-gradient")
}

.sun {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 7px;
  right: 4.75px;
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.165px;
  background: linear-gradient(90deg, #FF00B8 -8.33%, #FFB800 108.33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  z-index: 1;
}

.swirl-container {
  width: 29px;
  height: 30px;
  position: absolute;
  left: 197px;
}

.swirl-path {
  fill: #D79881;
  transition: fill ease-out 300ms;
}

.dark .swirl-path {
  fill: #fff;
}

.sun-path {
  fill: url("#light-gradient");
  transition: fill ease-out 300ms;
}

.dark .sun-path {
  fill: #AD87FF;
}

.icon {
  width: 20px;
  height: 20px;
}

.footer {
  background-color: rgba(164, 93, 93, 0.75);
}

.dark .footer {
  background-color: rgba(183, 183, 183, 0.75);
  color:
    #FFFFFF;
}

.name {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color:
    #FFFFFF;
}

.address {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color:
    #FFFFFF;
  margin: 3px 8px;
}

.dark .body {
  background-color: #351212;
}